body {
    margin: 0;
    font-family: 'nanumsquare';
}
div {
    box-sizing: border-box;
}
p { 
    font-size: 16px;
}
h1 {
    font-size: 30px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 20px;
}
.text-center {
    text-align: center;
}
.py-4 {
    padding-top: 40px;
    padding-bottom: 40px;
}
/* main */
.main-background {
    background-image: linear-gradient(to bottom, #499add, #4e61c0);
    height: 550px;
    padding: 20px;
    color: white;
}
.main-iphone {
    width: 400px;
    float: right;
    margin-top: 95px;
}

.main-text {
    float: left;
    margin-top: 50px;
}
.main-container {
    max-width: 1200px;
    margin: auto;
}








.btn{
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'nanumspuare';
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-black{
    background: #444;
    color: white;
    
}

.btn-black:hover {
    background: orange;
}






/* service */
.service {
    background-color: #4e61c0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 60px 30px 50px 30px;
}

.service-items {
    display: flex;
}

.service-items div {
    width: 23%;
}

.service-icon {
    background: white;
    color: #4e61c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 15px;
}


/* portfolio */

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.portfolio-item {
    float: left;
    width: 50%;
    height: 350px;
    background-size: cover;
    position: relative;
}
.portfolio-item1 {
                                        /* 배경을 조금 어둡게 */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/portfolio-1.jpg);
}
.portfolio-item2 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/portfolio-2.jpg);
}
.portfolio-item3 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/portfolio-3.jpg);
}
.portfolio-item4 {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/portfolio-4.jpg);
}
.portfolio-container {
    text-align: left;
    max-width: 1200px;
    margin: auto;
}
.portfolio-text {
    color: white;
    padding: 50px;
}
.white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 0px solid white;
}
.white-box:hover {
    border: 30px solid white;
    transition: all 1s;
}






@media screen and (max-width : 992px) {
    .main-iphone {
        width: 260px;
        display: block;
        float: none;
        margin: auto;
        margin-top: 42px;
    }

    .main-text {
        float: none;
        margin-top: 50px;
        text-align: center;
    }

    /* 세로로 */
    .service-items {
        display: flex;
        flex-direction: column;
    }
    .service-items div {
        width: 100%;
    }
    .portfolio-item1, .portfolio-item2, .portfolio-item3, .portfolio-item4 {
        float: none;
        width: 100%;
    }
}
