
/* class selector */
.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center; 
    font-size: 16px;
}

.content {
    text-align: center;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 15px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin-left: 10px;
    padding: 40px;
    border-radius: 5px;
    /*
        <div>, <p>, <h> 
        display: block 기본으로 있음
    */
    /* display: block;  */ 
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px black;
}

.container {
    width: 800px
}

.header {
    width: 100%;
    height: 100px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    float: left;
    /* display: inline-block; */
}

.right1 {
    width: 80%;
    height: 200px;
    background: coral;
    float: left;
    /* display: inline-block; */
}

.right2 {
    width: 80%;
    height: 200px;
    background: olive;
    float: left;
    /* display: inline-block; */
}

/* clear: both
    float 다음에 오는 요소에게 주면
    float로 발생하는 이상한 현상 해결 가능
*/
.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    clear: both;
}